@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-nunito: "Nunito", sans-serif;
  --color-primary: #f97316; /* orange-500 */
  --color-primary-foreground: #ffffff;
}

@layer base {
  *, ::before, ::after {
    @apply border-gray-200;
  }
}