@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-nunito: "Nunito", sans-serif;
  --color-primary: #f97316; /* orange-500 */
  --color-primary-foreground: #ffffff;
  --color-secondary: #fff7ed; /* orange-50 */
  --color-secondary-foreground: #b45309; /* orange-700 */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  *, ::before, ::after {
    @apply border-gray-200;
  }
}


/* DELIVERY ADDRESS */

.react-dadata__container {
  position:relative
}

.react-dadata__input {
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  border-radius: 14px;
  outline: none;
  width: 100%;
  height: 48px;
  padding: 4px 12px;
  font-size: 14px;
  box-shadow: 0 2px 2px 0 rgba(90, 90, 90, 0.05);
}

.react-dadata__input:focus {
    border:1px solid #b6b6b6;
}

.react-dadata__suggestions {
  z-index: 10000;
  text-align:left;
  background-color:#fff;
  border-radius: 14px;
  margin:0;
  padding:0;
  list-style:none;
  position:absolute;
  top:calc(100% + 8px);
  left:0;
  right:0;
  overflow:hidden;
  box-shadow:0 1px 6px 3px rgba(0,0,0,.1)
}

.react-dadata__suggestion{
  cursor:pointer;
  box-sizing:border-box;
  text-align:left;
  background:0 0;
  border:none;
  width:100%;
  padding:7px 10px;
  font-size:15px;
  display:block
}

.react-dadata__suggestion:hover{
  background-color:rgba(0,124,214,.1)
}


@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #d3d3d3;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a5a5a5;
  }
}